<div class="bookmark--container">
   <app-nav-bar></app-nav-bar>
   <app-search-bar></app-search-bar>

   <div class="bookmark--movies-container">
      <h2 *ngIf="searchTerm == '' || searchTerm == null; else elseBlockMovies" id="moviesBookmarkHeading" class="bookmark--heading" >Bookmarked Movies</h2>
      <ng-template #elseBlockMovies><h2 id="moviesBookmarkHeading" class="bookmark--heading">Found {{bookmarkedMovies.length}} results for '{{searchTerm}}'</h2></ng-template>
      <div class="bookmark--list-container">
         <app-preview-card *ngFor="let movie of bookmarkedMovies" [cardData]="movie"></app-preview-card>
         
      </div>

   </div>

   <div class="bookmark--tv-container">
      <h2 *ngIf="searchTerm == '' || searchTerm == null; else elseBlockSeries" id="tvBookmarkHeading" class="bookmark--heading" >Bookmarked TV Series</h2>
      <ng-template #elseBlockSeries><h2 id="tvBookmarkHeading" class="bookmark--heading">Found {{bookmarkedSeries.length}} results for '{{searchTerm}}'</h2></ng-template>
      <div class="bookmark--list-container">
         <app-preview-card *ngFor="let series of bookmarkedSeries" [cardData]="series"></app-preview-card>
      </div>
      
   </div>

</div>