<div class="bookmark--container">
   <div class="bookmark--movies-container">
      <h2 id="moviesBookmarkHeading" class="bookmark--heading">Bookmarked Movies</h2>
      <app-preview-card></app-preview-card>
      <app-preview-card></app-preview-card>
      <app-preview-card></app-preview-card>
      <app-preview-card></app-preview-card>
      <app-preview-card></app-preview-card>
      <app-preview-card></app-preview-card>
      <app-preview-card></app-preview-card>
      <app-preview-card></app-preview-card>
      <app-preview-card></app-preview-card>
   </div>

   <div class="bookmark--tv-container">
      <h2 id="tvBookmarkHeading" class="bookmark--heading">Bookmarked TV Series</h2>
      <app-preview-card></app-preview-card>
      <app-preview-card></app-preview-card>
      <app-preview-card></app-preview-card>
   </div>
</div>