@media screen and (min-width: 375px) {
   .bookmark--container {
      height: auto;
      padding: 4.5rem 1rem;
      background-color: var(--clr-primary-800);
   }

   .bookmark--heading {
      font-weight: var(--fw-regular);
      font-size: var(--fs-600);
   }

   .bookmark--list-container {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      flex-wrap: wrap;
      gap: 1rem;
      margin-top: 1.5rem;
   }
   
   .bookmark--tv-container {
      margin-top: 1.5rem;
   }
}

@media screen and (min-width: 768px) {
   .bookmark--container {
     padding: 5.938rem 1.563rem 2.375rem; 
   }

   .bookmark--list-container {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1.875rem;
   }

   .bookmark--heading {
      font-size: var(--fs-800);

   }
}