<div class="bookmark--container">
   <app-search-bar></app-search-bar>

   <div class="bookmark--movies-container">
      <h2 id="moviesBookmarkHeading" class="bookmark--heading">Bookmarked Movies</h2>

      <div class="bookmark--list-container">
         <app-preview-card></app-preview-card>
         <app-preview-card></app-preview-card>
         <app-preview-card></app-preview-card>
         <app-preview-card></app-preview-card>
         <app-preview-card></app-preview-card>
         <app-preview-card></app-preview-card>
         <app-preview-card></app-preview-card>
         <app-preview-card></app-preview-card>
         <app-preview-card></app-preview-card>
         
      </div>

   </div>

   <div class="bookmark--tv-container">
      <h2 id="tvBookmarkHeading" class="bookmark--heading">Bookmarked TV Series</h2>
      
      <div class="bookmark--list-container">
         <app-preview-card></app-preview-card>
         <app-preview-card></app-preview-card>
         <app-preview-card></app-preview-card>
      </div>
      
   </div>

</div>