<div class="preview--card-container">
   <div class="preview--thumbnail-container">
      <img src="../../../assets/icon-bookmark-empty.svg" alt="bookmark empty">

   </div>

   <div class="preview--details-container">
      <div class="preview--spec-container">
         <ul>
            <li class="preview--spec-year">2019</li>
            <li>
               <img class="preview--spec-tv" src="../../../assets/icon-nav-tv-series.svg" alt="type logo">
               TV Series
            </li>
            <li class="preview--spec-rating">PG</li>
         </ul>
      </div>
      <h4>The Diary</h4>
   </div>
   
<!-- <div class="preview--watch-container">
      <img src="../../../assets/icon-play.svg" alt="play hover icon">
   </div> -->
</div>