<div class="preview--card-container">   
   <div class="preview--thumbnail-container">
      <img class="preview--image" src="../../../assets/thumbnails/112/regular/small.jpg" alt="">
      
      <div class="preview--bookmark-container">
         <img class="bookmark" src="../../../assets/icon-bookmark-empty.svg" alt="bookmark empty">
      </div>
      
      <div class="preview--thumbnail-overlay">         
         <a class="preview--thumbnail-playBtn">
               <img class="play" src="./assets/icon-play.svg"/>
               Play

            </a>

      </div>

   </div>

   <div class="preview--details-container">
      <div class="preview--spec-container">

         <ul>
            <li class="preview--spec-year">2019</li>
            <li>
               <img class="preview--spec-tv" src="../../../assets/icon-nav-movies.svg" alt="type logo">
               Movie
            </li>
            <li class="preview--spec-rating">E</li>
         </ul>

      </div>

      <h4>The Great Lands</h4>
      
   </div>

</div>