@media screen and (max-width: 374px){
    .preview--card-container {
        width: 164px;
        height: 154px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .preview--thumbnail-container {
        position: relative;
        width: 164px;
        height: 110px;
        border-radius: 8px; 
        background-image: url(../../../assets/thumbnails/the-great-lands/regular/large.jpg);
        background-size: 164px 110px;
        cursor: pointer;
    }
    
    .preview--bookmark-container {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        width: 32px;
        height: 32px;
        background-color: #10141E;
        opacity: 0.5;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        float: right;
        margin-top: 8px;
        margin-right: 8px;
    }
    
    .bookmark {
        height: 14px;
    }

    .preview--bookmark-container:hover{
        background-color: #FFFFFF;
        opacity: 1;
        cursor: pointer;
    }

    .preview--bookmark-container:hover img{
        filter: invert(5%) sepia(7%) saturate(4549%) hue-rotate(185deg) brightness(94%) contrast(93%);
        opacity: 1;
    }

    .preview--thumbnail-overlay {
        width: 164px;
        height: 110px;
        border-radius: 8px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--fs-200);
        line-height: 18px;
        font-weight: var(--fw-medium);
        color: var(--clr-neutral-100);
    }

    .play {
        height: 20px;
        width: 20px;
        margin-right: 16px;
    }

    .preview--thumbnail-overlay:hover {
        opacity: 1;
    }
    
    .preview--thumbnail-playBtn{
        width: 80px;
        height: 32px;
        background: rgba(255, 255, 255, 0.25);
        border-radius: 28.5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .preview--details-container {
        width: 164px;
        height: 36px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    ul {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    li {
        display: flex;
        align-items: center;
        margin-right: 6px;
        font-size: 11px;
        line-height: 14px;
        font-weight: var(--fw-regular);
        color: var(--clr-neutral-100);
        opacity: 0.75;
    } 

    ul li:before {
        content: "";
        display: inline-block;
        width: 2px;
        height: 2px;
        background-color: #FFFFFF;
        opacity: 0.5;
        border-radius: 50%;
        margin-right: 5px;
    }

    ul li:first-child::before{
        display: none;
    }

    ul img {
        width: 10px;
        height: 10px;
        opacity: 0.75;
        filter: brightness(0) saturate(100%) invert(99%) sepia(2%) saturate(50%) hue-rotate(165deg) brightness(122%) contrast(100%);
        margin-right: 4px;
    }

    h4 {
        font-size: var(--fs-200);
        line-height: 18px;
        font-weight: var(--fw-medium);
        color: var(--clr-neutral-100);
    }
}

@media screen and (min-width: 375px){
    .preview--card-container {
        display: grid;
        grid-template-rows: auto 3rem;
        grid-template-columns: 100%;
        grid-template-areas: 
            'thumbnail'
            'details'
        ;
        width: 100%;
        min-height: 9.625rem;
        /* row-gap: 1rem; */
    }
    
    .preview--thumbnail-container {
        position: relative;
        grid-area: thumbnail;
        width: 100%;
    }

    .preview--image {
        border-radius: 0.625rem;
        width: 100%;
        height: auto;
    }
    
    .preview--bookmark-container {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3;
        width: 32px;
        height: 32px;
        background-color: #10141E;
        opacity: 0.5;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0.5rem;
        margin-right: 0.5rem;
    }
    
    .bookmark {
        height: 14px;
    }

    .preview--bookmark-container:hover{
        background-color: #FFFFFF;
        opacity: 1;
        cursor: pointer;
    }

    .preview--bookmark-container:hover img{
        filter: invert(5%) sepia(7%) saturate(4549%) hue-rotate(185deg) brightness(94%) contrast(93%);
        opacity: 1;
    }

    .preview--thumbnail-overlay {
        position: absolute;
        top: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--fs-500);
        line-height: 23px;
        font-weight: var(--fw-medium);
        color: var(--clr-neutral-100);
    }

    .play {
        height: 1.25rem;
        width: 1.25rem;
        margin-right: 0.5rem;
    }

    .preview--thumbnail-overlay:hover {
        opacity: 1;
    }
    
    .preview--thumbnail-playBtn{
        width: 4.875rem;
        height: 2rem;
        background: rgba(255, 255, 255, 0.25);
        border-radius: 28.5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .preview--details-container {
        grid-area: details;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .preview--spec-container {
        margin-top: 0.5rem;
    }

    ul {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    li {
        display: flex;
        align-items: center;
        margin-right: 6px;
        font-size: var(--fs-025);
        line-height: 16px;
        font-weight: var(--fw-regular);
        color: var(--clr-neutral-100);
        opacity: 0.75;
    } 

    ul li:before {
        content: "";
        display: inline-block;
        width: 3px;
        height: 3px;
        background-color: #FFFFFF;
        opacity: 0.5;
        border-radius: 50%;
        margin-right: 5px;
    }
    
    ul li:first-child::before{
        display: none;
    }
    
    ul img {
        width: 12px;
        height: 12px;
        opacity: 0.75;
        filter: brightness(0) saturate(100%) invert(99%) sepia(2%) saturate(50%) hue-rotate(165deg) brightness(122%) contrast(100%);
        margin-right: 6px;
    }
    
    h4 {
        margin-top: 0.25rem;
        font-size: var(--fs-200);
        line-height: 23px;
        font-weight: var(--fw-medium);
        color: var(--clr-neutral-100);
    }
}

@media screen and (min-width: 768px) {
    .preview--thumbnail-playBtn {
        width: 7.3125rem;
        height: 3rem;
    }

    .play {
        height: 30px;
        width: 30px;
        margin-right: 19px;
    }

    li {
        margin-right: 0.5rem;
        font-size: var(--fs-100);
    }

    h4 {
        margin-top: 0.313rem;
        font-size: var(--fs-500);
    }
}

@media screen and (min-width: 1440px){
    .preview--card-container {
        width: 100%;
        min-height: 14.125rem;
        row-gap: 0.5rem;
    }

    .preview--details-container {
       row-gap: 0.313rem;
    }
    
    h4 {
        font-size: var(--fs-500);
    }
}



