<div class="preview--card-container">
   <div class="preview--thumbnail-container">
      <img class="preview--image" src="{{ cardData.thumbnail.regular.large }}" alt="photo of {{ cardData.title }} from {{ cardData.year }}">
      
      <div class="preview--bookmark-container" (click)="getElementName($event)">
         <img *ngIf="!bookmark" data-name="{{ cardData.title }}" data-id="{{ cardData.id }}" class="bookmark" src="../../../assets/icon-bookmark-empty.svg" alt="bookmark empty">
         <img *ngIf="bookmark" data-name="{{ cardData.title }}" data-id="{{ cardData.id }}" class="bookmark" src="../../../assets/icon-bookmark-full.svg" alt="bookmark full">
      </div>

      <div class="preview--thumbnail-overlay">
         <a class="preview--thumbnail-playBtn"><img class="play" title="card-image" src="./assets/icon-play.svg">Play</a>
      </div>
   </div>
   
   <div class="preview--details-container">
      <div class="preview--spec-container">
         <ul>
            <li class="preview--spec-year">{{ cardData.year }}</li>

            <li>
               <img class="preview--spec-tv" src="../../../assets/icon-nav-movies.svg" alt="logo">
               {{ cardData.category }}
            </li>
            <li class="preview--spec-rating">{{ cardData.rating }}</li>
         </ul>
      </div>

      <h4>{{ cardData.title }}</h4>
      
   </div>
</div>