<div class="container">
    <app-search-bar></app-search-bar>

    <h2>Trending</h2>
    <div class="trending-container" #sliderContainer>
        <div class="trending-carousel" #innerSlider>
            <app-trending-card *ngFor="let media of trendingData" [cardData]="media"></app-trending-card>
            <!--
            
            <div class="trending-card">
                <div class="trending--bookmark-container">
                    <img class="bookmark" src="../../../assets/icon-bookmark-empty.svg" alt="bookmark empty">
                </div>
                <div class="trending--details-container">
                    <div class="trending--spec-container">
                       <ul>
                          <li class="trending--spec-year">2019</li>
                          <li>
                             <img class="trending--spec-tv" src="../../../assets/icon-nav-movies.svg" alt="type logo">
                             Movie
                          </li>
                          <li class="trending--spec-rating">PG</li>
                       </ul>
                    </div>
                    <h4>Beyond Earth</h4>
                </div>
                <div class="trending--thumbnail-overlay">
                    <a class="trending--thumbnail-playBtn"><img class="play" src="./assets/icon-play.svg">Play</a>
                </div>
            </div>
            <div class="trending-card">
                <div class="trending--bookmark-container">
                    <img class="bookmark" src="../../../assets/icon-bookmark-empty.svg" alt="bookmark empty">
                </div>
                <div class="trending--details-container">
                    <div class="trending--spec-container">
                       <ul>
                          <li class="trending--spec-year">2019</li>
                          <li>
                             <img class="trending--spec-tv" src="../../../assets/icon-nav-movies.svg" alt="type logo">
                             Movie
                          </li>
                          <li class="trending--spec-rating">PG</li>
                       </ul>
                    </div>
                    <h4>Beyond Earth</h4>
                </div>
                <div class="trending--thumbnail-overlay">
                    <a class="trending--thumbnail-playBtn"><img class="play" src="./assets/icon-play.svg">Play</a>
                </div>
            </div>
            <div class="trending-card">
                <div class="trending--bookmark-container">
                    <img class="bookmark" src="../../../assets/icon-bookmark-empty.svg" alt="bookmark empty">
                </div>
                <div class="trending--details-container">
                    <div class="trending--spec-container">
                       <ul>
                          <li class="trending--spec-year">2019</li>
                          <li>
                             <img class="trending--spec-tv" src="../../../assets/icon-nav-movies.svg" alt="type logo">
                             Movie
                          </li>
                          <li class="trending--spec-rating">PG</li>
                       </ul>
                    </div>
                    <h4>Beyond Earth</h4>
                </div>
                <div class="trending--thumbnail-overlay">
                    <a class="trending--thumbnail-playBtn"><img class="play" src="./assets/icon-play.svg">Play</a>
                </div>
            </div>
            <div class="trending-card">
                <div class="trending--bookmark-container">
                    <img class="bookmark" src="../../../assets/icon-bookmark-empty.svg" alt="bookmark empty">
                </div>
                <div class="trending--details-container">
                    <div class="trending--spec-container">
                       <ul>
                          <li class="trending--spec-year">2019</li>
                          <li>
                             <img class="trending--spec-tv" src="../../../assets/icon-nav-movies.svg" alt="type logo">
                             Movie
                          </li>
                          <li class="trending--spec-rating">PG</li>
                       </ul>
                    </div>
                    <h4>Beyond Earth</h4>
                </div>
                <div class="trending--thumbnail-overlay">
                    <a class="trending--thumbnail-playBtn"><img class="play" src="./assets/icon-play.svg">Play</a>
                </div>
            </div>
        -->
        </div>
    </div>

    <div class="recommended-container">
        <h2>Recommended for you</h2>
        <div class="recommended" >
            <app-preview-card *ngFor="let media of homeData" [cardData]="media"></app-preview-card>
        </div>
    </div>
</div>