<div class="container">
    <app-search-bar></app-search-bar>
   <div class="trending-container">
        <h2>Trending</h2>
        <div class="trending-carousel">

        </div>
    </div>
    <div class="recommended-container">
        <h2>Recommended for you</h2>
        <div class="recommended">
            <app-preview-card></app-preview-card>
            <app-preview-card></app-preview-card>
            <app-preview-card></app-preview-card>
            <app-preview-card></app-preview-card>
            <app-preview-card></app-preview-card>
            <app-preview-card></app-preview-card>
            <app-preview-card></app-preview-card>
            <app-preview-card></app-preview-card>
            <app-preview-card></app-preview-card>
            <app-preview-card></app-preview-card>
            <app-preview-card></app-preview-card>
            <app-preview-card></app-preview-card>
            <app-preview-card></app-preview-card>
            <app-preview-card></app-preview-card>
            <app-preview-card></app-preview-card>
            <app-preview-card></app-preview-card>
            <app-preview-card></app-preview-card>
            <app-preview-card></app-preview-card>
            <app-preview-card></app-preview-card>
            <app-preview-card></app-preview-card>
            <app-preview-card></app-preview-card>
            <app-preview-card></app-preview-card>
            <app-preview-card></app-preview-card>
            <app-preview-card></app-preview-card>
        </div>
    </div>
</div>