.container {
    width: 96px;
    height: calc(100vh - 16px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #161D2F;
    border-radius: 20px;
    position: fixed;
}

.logo {
    margin-top: 36px;
    width: 32px;
}

.navigation {
    margin-top: 70px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

a img {
    height: 20px;
}

a.active {
    filter: brightness(0) saturate(100%) invert(99%) sepia(2%) saturate(50%) hue-rotate(165deg) brightness(122%) contrast(100%);
}

a img:hover {
    filter: brightness(0) saturate(100%) invert(49%) sepia(73%) saturate(4232%) hue-rotate(332deg) brightness(97%) contrast(103%);
    cursor: pointer;
}

.avatar {
    width: 40px;
    margin-bottom: 32px;
    margin-top: auto;
    border-radius: 50%;
    border: 1px solid white;
}

@media screen and (max-width: 768px) {
    .container {
        width: calc(100vw - 16px);
        height: 72px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
    }

    .logo {
        margin-left: 24px;
        margin-top: 0px;
    }

    .navigation {
        margin-top: 0px;
        height: 20px;
        width: 173px;
        flex-direction: row;
    }

    .avatar {
        width: 32px;
        margin-bottom: 0px;
        margin-top: 0px;
        margin-right: 16px;
    }
}

@media screen and (max-width: 375px) {
    .container {
        width: 100vw;
        height: 72px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-radius: 0px;
        top: 0;
        left: 0;
    }

    .logo {
        margin-left: 16px;
        margin-top: 0px;
        width: 25px;
    }

    a img {
        width: 16px;
        height: 16px;
    }

    .navigation {
        margin-top: 0px;
        height: 16px;
        width: 134px;
        flex-direction: row;
    }

    .avatar {
        width: 24px;
        margin-bottom: 0px;
        margin-top: 0px;
        margin-right: 16px;
    }
}