<div class="container">
    <img class="logo" src="./assets/logo.svg">
    <div class="navigation">
        <a routerLink="/home" routerLinkActive="active"><img class="active" src="./assets/icon-nav-home.svg"></a>
        <a routerLink="/movies" routerLinkActive="active"><img src="./assets/icon-nav-movies.svg"></a>
        <a routerLink="/tv-series" routerLinkActive="active"><img src="./assets/icon-nav-tv-series.svg"></a>
        <a routerLink="/bookmark" routerLinkActive="active"><img src="./assets/icon-nav-bookmark.svg"></a>
    </div>
    <img class="avatar" src="./assets/image-avatar.png">
</div>