<div class="container">
    <div class="login--case">        
        <img class="login--logo" src="./assets/logo.svg">
        
        <div class="form--container">
            <h2 class="login--heading">Login</h2>
            
            <form (ngSubmit)="validateUser(loginForm)" #loginForm="ngForm" class="login--fields">
                <div class="login--form-case">
                    <input 
                        id="loginEmail" 
                        type="email" 
                        placeholder="Email address"
                        ngModel
                        name="email"
                        required 
                        email
                        #email="ngModel"
                    >

                    <span 
                        class="email--error"
                        *ngIf="!email.valid && email.touched"
                    >can't be empty
                    </span>
                    
                    <span class="bottom--error-message" *ngIf="invalidEmail">invalid email</span>
                </div>
                
                <div class="login--form-case">                    
                    <input 
                    id="loginPassword" 
                    type="password" 
                    placeholder="Password"
                    ngModel
                    name="password" 
                    required 
                    #password="ngModel"
                    >

                    <span
                        *ngIf="!password.valid && password.touched" 
                        class="password--error"
                    >can't be empty
                    </span>

                    <span
                        class="bottom--error-message" 
                        *ngIf="invalidPassword"
                    >invalid password</span>

                </div>

                <button
                    type="submit"
                    value=""
                    [disabled]="!loginForm.valid"
                >
                Log in to your account</button>
            </form>
            
            <p class="login--redirect">Don't have an account? <a routerLink="/signup">Sign Up</a></p>
        </div>
    </div>
</div>