@media screen and (min-width: 375px) {
   .movie--container {
      height: auto;
      padding: 4.5rem 1rem;
      background-color: var(--clr-primary-800);
   }

   .movie--heading {
      font-weight: var(--fw-regular);
      font-size: var(--fs-600);
   }
   
   .movie--series-list {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      flex-wrap: wrap;
      gap: 1rem;
      margin-top: 1.5rem;
   }
}

@media screen and (min-width: 768px) {
   .movie--container {
     padding: 5.938rem 1.563rem 2.375rem; 
   }

   .movie--series-list {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1.875rem;
   }

   .movie--heading {
      font-size: var(--fs-800);
   }
}

@media screen and (min-width: 1440px) {
   .movie--container {
      margin: 0;
      padding: 2rem 2.5rem 4.313rem 10.25rem;
   }

   .movie--series-list {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
      gap: 2rem 2.5rem;
      width: 100%;
   }
}