<div class="trending--card">
   <div class="trending--thumbnail-container">
      
      <img class="trending--image" src="{{ cardData.thumbnail.regular.large }}" alt="photo of {{ cardData.title }} from {{ cardData.year }}">
      
      <div class="trending--bookmark-container">
         <img *ngIf="!trend" class="bookmark" src="../../../assets/icon-bookmark-empty.svg" alt="bookmark empty">
         <img *ngIf="trend" class="bookmark" src="../../../assets/icon-bookmark-full.svg" alt="bookmark full">
      </div>
      
      <div class="trending--thumbnail-overlay">
         <a class="trending--thumbnail-playBtn"><img class="play" src="./assets/icon-play.svg">Play</a>
      </div> 
      
      <div class="trending--details-container">
         <div class="trending--spec-container">
            <ul>
               <li class="trending--spec-year">{{ cardData.year }}</li>
               <li class="trending--spec-tv-case">
                  <img class="trending--spec-tv" src="../../../assets/icon-nav-movies.svg" alt="type logo">
                  {{ cardData.category }}
               </li>
               <li class="trending--spec-rating">{{ cardData.rating }}</li>
               
            </ul>
            
         </div>         
         <h4>{{ cardData.title }}</h4>
         
      </div>

   </div>
         
</div>
