@media screen and (min-width: 375px) {
   .trending--card {
      width: 15rem;
      height: 8.75rem;
      border-radius: 0.5rem;
   }
   
   .trending--thumbnail-container {
      position: relative; 
      width: 15rem;
      height: 8.75rem;
      border-radius: 0.5rem;
   }

   .trending--image {
      z-index: 1;
      width: 15rem;
      height: 8.75rem;
      border-radius: 0.5rem;
   }

   .trending--bookmark-container {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 4;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.25);
   }

   .trending--bookmark-container:hover{
      background-color: #FFFFFF;
      opacity: 1;
      cursor: pointer;
  }

   .bookmark {
      width: 0.723rem;
      height: 1rem;
      margin: 0;
      padding: 0;
   }

   .trending--bookmark-container:hover > img {
      filter: invert(5%) sepia(7%) saturate(4549%) hue-rotate(185deg) brightness(94%) contrast(93%);
      opacity: 1;
   }

   .trending--thumbnail-overlay {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 3;
      border-radius: 8px;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: var(--fs-200);
      line-height: 18px;
      font-weight: var(--fw-medium);
      color: var(--clr-neutral-100);
   }

   .trending--thumbnail-overlay:hover {
      opacity: 1;
   }
   
   .play {
      height: 20px;
      width: 20px;
      margin-right: 16px;
   }

   .trending--thumbnail-playBtn {
      width: 4.875rem;
      height: 2rem;
      background: rgba(255, 255, 255, 0.25);
      border-radius: 28.5px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
   }

   .trending--details-container {
      display: flex;
      flex-direction: column;
      position: absolute;
      bottom: 0;
      z-index: 2;
      width: 35.2vw;
      height: max-content;
      margin-bottom: 0.25rem; 
      margin-left: 0.5rem; 

      /* 
      
      
      margin-bottom: 1rem; 
      margin-left: 1rem; 

      */
   }

   .trending--spec-container {
      width: 100%;
      font-size: var(--fs-050);
   }

   ul {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      column-gap: .25rem;
      width: 8.25rem;
      list-style-type: none;
      padding: 0;
      margin: 0;
   }

   ul img{
      opacity: 0.75;
      filter: brightness(0) saturate(100%) invert(99%) sepia(2%) saturate(50%) hue-rotate(165deg) brightness(122%) contrast(100%);
   }

   li {
      display: flex;
      align-items: center;
      line-height: 1rem;
      font-weight: var(--fw-regular);
   }

   .trending--spec-tv-case {
      display: flex;
      column-gap: 0.2rem;
   }

   ul li:before {
      content: "";
      display: inline-block;
      width: 3px;
      height: 3px;
      background-color: #FFFFFF;
      opacity: 0.5;
      border-radius: 50%;
      margin-right: 5px;
   }

   ul li:first-child::before{
      display: none;
   }

   h4 {
      margin-top: 0.25rem;
      font-size: var(--fs-200);
      line-height: 23px;
      font-weight: var(--fw-medium);
      color: var(--clr-neutral-100);
   }
}

@media screen and (min-width: 768px) {
   .trending--card {
      width: 29.375rem;
      height: 14.375rem;
   }

   .trending--details-container {
      margin-bottom: 1rem; 
      margin-left: 1rem; 
   }

   .trending--thumbnail-overlay {
      width: 29.375rem;
      height: 14.375rem;
   }

   .trending--thumbnail-container {
      position: relative; 
      width: 29.375rem;
      height: 14.375rem;
   }

   .trending--image {
      width: 29.375rem;
      height: 14.375rem;
   }
}