<div class="tv--container">
   <app-search-bar></app-search-bar>
   <h2 class="tv--heading" >TV Series</h2>

   <div class="tv--series-list">
      <app-preview-card></app-preview-card>
      <app-preview-card></app-preview-card>
      <app-preview-card></app-preview-card>
      <app-preview-card></app-preview-card>
      <app-preview-card></app-preview-card>
      <app-preview-card></app-preview-card>
      <app-preview-card></app-preview-card>
      <app-preview-card></app-preview-card>
      <app-preview-card></app-preview-card>
      <app-preview-card></app-preview-card>
      <app-preview-card></app-preview-card>
      <app-preview-card></app-preview-card>
      <app-preview-card></app-preview-card>
      <app-preview-card></app-preview-card>
      <app-preview-card></app-preview-card>
      <app-preview-card></app-preview-card>
      <app-preview-card></app-preview-card>
      <app-preview-card></app-preview-card>
   </div>
   
</div>